<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <div>
        <h3 class="menu-title">MENU</h3>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/navigate">
          Naviga
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Trova vino
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Sfoglia
        </ion-item>
        <ion-item menu-close href="#/app/wines">
          La tua cantina
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          Profilo
        </ion-item>
        <ion-item menu-close ng-click="doLogout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
