/* Empty. Add your own CSS if you like */

#combwine-logo-container {
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: 100;
    color: #631f3a;
    text-align: center;
    margin: 80px 0;
}

.menu-title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #631f3a;
    text-align: center;
}

.combwine-logo {
    width: 15%;
    margin-bottom: 20px;
}

.button.button-positive,
.button.button-positive.active,
.button.button-positive.activated,
.button.button-positive.button-outline {
    background-color: #631f3a;
    border-color: #3d1323;
}